footer {
  height: 500px;
  background-color: #000;
}

/* https://gist.github.com/mfd/614e2e80a22b878bde63cb471cbe677e */
@font-face {
  font-family: 'San Francisco';
  font-weight: 100;
  src: url('https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff');
}

html {
  font-size: 10px;
  font-size: 62.5%;
}

body {
  font-family: 'Pretendard Variable', sans-serif;

}

body.fix {
  overflow-y: hidden;
  position: fixed;
}

.lighting-header {
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 100%;
  padding: 52px 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 10;
  mix-blend-mode: difference;
}

.lighting-header h1 {

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lighting-header h1 a {}

.lighting-header h1 svg,
.lighting-header h1 img {}

.lighting-header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: auto;
}

.lighting-header nav::after {
  display: none;
}

.lighting-header nav .lang {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-right: 20px;
}

.lighting-header nav .lang a,
.lighting-header nav .lang p {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.lighting-header nav .lang p {
  cursor: pointer;
  height: 42px;
  width: 74px;
}

.lighting-header nav .lang p::after {
  display: none;
}

.lighting-header nav .lang a i,
.lighting-header nav .lang p i {
  font-size: 2rem;
  text-align: left;
  color: #fff;
  margin-left: 10px;
}

.lighting-header nav .lang ul {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 78px;
  height: 68px;
  background-color: #fff;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  top: 42px;
  display: none;
}

.lighting-header nav .lang ul::after {
  display: none;
}

.lighting-header nav .lang ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.lighting-header nav .lang ul li a,
.lighting-header nav .lang ul li i {
  color: #000;
}

.lighting-header nav .lang ul li i {
  opacity: 0;
}

.lighting-header nav .lang ul li.active i {
  opacity: 1;
}

.lighting-header nav .shop-btn {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: left;
  color: #fff;
  padding: 11px 17px;
  border-radius: 8px;
  border: solid 1px #fff;
}

.lighting-wrap {
  background-color: rgba(0, 0, 0, 1);
  color: #fff;
  width: 100%;
  overflow-x: hidden;
}

.lighting-wrap .common-txt {
  border-top: 1px solid #fff;
  width: 100%;
  padding-top: 20px;
}

.lighting-wrap .common-txt.min {
  width: 760px;
  max-width: 100%;
}

.lighting-wrap .common-txt h3 {
  font-size: 4.6rem;
  font-weight: 100;
  line-height: 1.43;
  letter-spacing: -1.84px;
}

.lighting-wrap .common-txt p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.72px;
  margin-top: 20px;
}

.lighting-wrap .common-txt .tags {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 16px;
}

.lighting-wrap .common-txt .tags i {
  opacity: 0.5;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: 1.88;
  letter-spacing: -0.64px;
  font-style: normal;
}

.lighting-wrap .inner {
  width: 1520px;
  margin-right: auto;
  margin-left: auto;
  max-width: 100%;
}

.main-visual {
  height: 100vh;
  overflow: hidden;
}

.main-visual {
  height: auto;
  position: relative
}

.main-visual .visual {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
  background: url("../../_images/main-visual.jpg") center no-repeat;
  background-size: cover;
}

.main-visual .visual::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 410px;
  /* background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, #000 100%); */
  z-index: 1;
}

.main-visual .visual img {
  width: 100%;
}

.main-visual .visual .tit {
  position: absolute;
  left: 10.417vw;
  bottom: 15.741vh;
  z-index: 2;
  opacity: 1;
  text-transform: uppercase;
  font-family: 'San Francisco', sans-serif;
  will-change: opacity;
}

.main-visual .visual .tit p {
  font-size: 12rem;
  font-weight: 200;
  line-height: 1;
  letter-spacing: -2.4px;
  will-change: transform;
}

.main-visual .visual .tit p:last-child {
  margin-left: 113px;
}

.main-visual .visual .ico {
  position: absolute;
  bottom: 4.63vh;
  right: 10.417vw;
  z-index: 2;
  width: 120px;
  will-change: transform, opacity;
}

.main-visual .txt {
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(to top, #000, rgba(0, 0, 0, 0));
  z-index: 1;
  will-change: transform;
  transform: translateY(100%);
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  right: 0;
  will-change: transform;
  display: flex;
  align-items: center;
}



.main-visual .txt h2 {
  font-size: 2rem;
  font-weight: 300;
  letter-spacing: -0.8px;
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  line-height: 0;
}

.main-visual .txt h2 img {
  height: 14px;
  margin-left: 6px;
}

.main-visual .txt ul {
  border-bottom: 1px solid #fff;
}

.main-visual .txt ul li {
  padding: 30px 0;
  border-top: 1px solid #fff;
  font-size: 7rem;
  font-weight: 100;
  letter-spacing: -2.8px;
}

.overwrap {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  z-index: 999;


}

.overwrap img {
  min-height: 100%;
  min-width: 1920px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;

  /* Set up positioning */
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.scroll-img-txt {
  margin-top: 180px;
  position: relative;
}

.scroll-img-txt .change-color {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.scroll-img-txt ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.scroll-img-txt ul .common-txt.min {
  width: 760px;
  max-width: 100%;
  will-change: transform;
}

.scroll-img-txt ul::after {
  display: none;
}

.scroll-img-txt ul li {
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.scroll-img-txt ul li img {
  width: 100%;
  will-change: transform;
}

.scroll-img-txt ul li.fadein-img {
  background: url('../../_images/scroll-img-1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 1000px;
  height: 1450px;
  background-position: 50% 0;
  opacity: 0;
}

.scroll-img-txt ul li:nth-child(1) {

  width: 1000px;
}

.scroll-img-txt ul li:nth-child(2),
.scroll-img-txt ul li:nth-child(3) {
  padding-top: 350px;
}

.scroll-img-txt ul li:nth-child(3) {
  width: 480px;
}

.scroll-img-txt ul li:nth-child(4) {
  padding-top: 100px;
  width: 590px;
}

.scroll-img-txt ul li:nth-child(5) {
  padding-top: 200px;

}

.scroll-img-txt ul li:nth-child(6) {
  width: 656px;

}

.scroll-img-txt ul li:nth-child(6) {
  margin-left: auto;
}

.scroll-img-txt ul li:nth-child(3) .common-txt {
  margin-top: 357px;
}


.scroll-img-txt ul li .inside {
  will-change: transform;
}

.scroll-wide .img {
  width: 220px;
  padding-bottom: 34.583%;
  height: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}



.scroll-wide .img img,
.scroll-wide .img video {
  width: 100vw;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

.scroll-wide .common-txt {
  margin-top: 100px;
}

.scroll-horizon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  /* width: 3840px; */
  will-change: transform;
  position: relative;
  margin-left: 200px;
}

.scroll-horizon .pin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;



}

.scroll-horizon .img {}

.scroll-horizon .img img {
  height: 547px;
}


.grid-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.grid-center video {
  width: 100%;
}

.grid-center::after {
  display: none;
}

.grid-center .left {
  width: 630px;
  max-width: 100%;
}


.grid-center img {
  width: 100%;
}

.vid-content {}

.vid-content .vid {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
  overflow: hidden;
}

.vid-content .vid::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 300px;
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, #000 100%);
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(0%, rgba(0, 0, 0, 0)), to(#000));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 0%, #000 100%);
  z-index: 1;
}

.vid-content .vid video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}


.svg.gery {
  fill: rgb(255 255 255 / 20%);
}

.svg.white {
  fill: rgb(255 255 255);
}

.svg.black {
  fill: rgb(0 0 0);
}

.grid-img {
  display: -ms-grid;
  display: grid;
  gap: 40px;
  -ms-grid-columns: 1fr 40px 1fr;
  grid-template-columns: repeat(2, 1fr);
}

.grid-img article {
  will-change: transform, opacity;
  color: #fff;
  max-width: 100%;
}

.grid-img article:nth-child(2),
.grid-img article:nth-child(4) {
  position: relative;
  top: 400px;
}

.grid-img article:not(.full) {
  padding: 40px;
  padding-bottom: 60px;
  background-color: #1b1c1f;
}

.grid-img article.full img {
  width: 100%;
}

.grid-img article .txt {
  margin-bottom: 30px;
}

.grid-img article .txt .svg {
  margin-bottom: 12px;
}

.grid-img article .txt h4 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.96px;
}

.grid-img article .txt p {
  opacity: 0.8;
  font-family: Pretendard;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.72px;
}

.grid-img article .img {
  display: -ms-grid;
  display: grid;
}

.grid-img article .img img {
  border-radius: 32px;
  width: 100%;
}

.grid-img article .grid-2-1 {
  display: flex;
  gap: 10px;
}

.grid-img article .grid-2-1 img:nth-child(1) {
  width: 58.787%;
}

.grid-img article .grid-2-1 img:nth-child(2) {
  width: 39.696%
}

.grid-img article .img.img-2 img {}

.grid-img article .img.img-3 img {}

.grid-img article .img.img-4 img {}

.grid-img article .grid {}

.grid-img article .grid .top,
.grid-img article .grid .btm,
.grid-img article .grid .img {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  text-align: center;
}

.grid-img article .grid-3 .top,
.grid-img article .grid-3 .btm,
.grid-img article .grid-3 .img {
  -ms-grid-columns: 1fr 50px 1fr 50px 1fr;
  grid-template-columns: repeat(3, 1fr);
  -webkit-column-gap: 50px;
  -moz-column-gap: 50px;
  column-gap: 50px;
  margin: 0 25px;
}

.grid-img article .grid-2 .btm,
.grid-img article .grid-2 .img {
  -ms-grid-columns: 1fr 6px 1fr;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px 6px;
}

.grid-img article .grid .top li {
  width: 110px;
  height: 36px;
  border-radius: 17.5px;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: -0.72px;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.grid-img article .grid .top li:nth-child(1) {
  background-color: #fcd18b;
}

.grid-img article .grid .top li:nth-child(2) {
  background-color: #f3f2e8;
}

.grid-img article .grid .top li:nth-child(3) {
  background-color: #b5c5e9;
}

.grid-img article .grid .line {
  margin-bottom: 20px;
  margin-top: 20px;
  height: 10px;
  border-radius: 10px;
  background-image: -o-linear-gradient(left, #f8a533 0%, #fffde5 49%, #9db3ea 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(#f8a533), color-stop(49%, #fffde5), to(#9db3ea));
  background-image: linear-gradient(to right, #f8a533 0%, #fffde5 49%, #9db3ea 100%);
  width: 100%;
  display: block;
}

.grid-img article .grid .btm {
  margin-bottom: 14px;
}

.grid-img article .grid .btm li {}

.grid-img article .grid .btm li b:nth-child(2),
.grid-img article .grid .btm li p:nth-child(2) {
  margin-top: 6px;
}

.grid-img article .grid .btm li b {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.72px;
  display: block;
}

.grid-img article .grid .btm li p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: -0.72px;
  text-align: center;
}

.mt-300 {
  margin-top: 300px;
}

.img-slider {
  position: relative;
}

.img-slider img {
  width: 100%;
}

.img-slider .arws {
  position: absolute;
  /* width: 1152px;
  z-index: 1;
  pointer-events: none;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 1; */
  position: absolute;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 99;
  justify-items: center;
  align-items: center;
}

.img-slider .arws::after {
  display: none;
}

.img-slider .swiper-slide {
  width: 920px;
  width: 47.916vw;
  margin: 0 90px;
}

.img-slider .arws li {
  pointer-events: auto;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.img-slider .arws li.prev {
  grid-column: 6/7;
}

.img-slider .arws li.next {
  grid-column: 19/20;
}

.form-wrap {
  padding: 200px 340px;
}

.form-wrap img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
  will-change: transform, opacity;
}

.form-wrap .email-form {
  margin-top: 100px;
  will-change: transform, opacity;

}

.form-wrap .email-form .tit {}

.form-wrap .email-form .tit svg {
  margin-bottom: 12px;
}

.form-wrap .email-form .tit h4 {
  font-size: 4.6rem;
  font-weight: 100;
  line-height: 1.43;
  letter-spacing: -1.84px;
  color: #000;
}

.form-wrap .email-form .tit h4 b {
  font-weight: 600;
}

.form-wrap .email-form .tit p {
  margin-top: 24px;
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.72px;
  text-align: left;
  color: #000;
}

.form-wrap .email-form .form {}

.form-wrap .email-form .form .input {
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #000;
}

.form-wrap .email-form .form .input label {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.72px;
  color: #000;
  margin-bottom: 10px;
  display: block;
}

.form-wrap .email-form .form .input input::-webkit-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #999;
}

.form-wrap .email-form .form .input input::-moz-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #999;
}

.form-wrap .email-form .form .input input:-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #999;
}

.form-wrap .email-form .form .input input::-ms-input-placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #999;
}

.form-wrap .email-form .form .input input,
.form-wrap .email-form .form .input input::placeholder {
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.8px;
  color: #999;
}

.form-wrap .email-form .form .input input {
  height: 58px;
  border-radius: 8px;
  border: solid 2px #000;
  background-color: #fff;
  width: 100%;
  display: block;
  color: #000;
  font-weight: normal;
  padding: 20px 14px;
}

.form-wrap .email-form .form .grid {
  margin-top: 30px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 20px auto;
  grid-template-columns: 20px auto;
  row-gap: 12px;
}

.form-wrap .email-form .form .grid::after {
  display: none;
}

.form-wrap .email-form .form .grid .check-box {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1/3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.form-wrap .email-form .form .grid .check-box::after {
  display: none;
}

.form-wrap .email-form .form .grid .check-box .check {
  width: 20px;
  height: 20px;
  border-radius: 3px;
  background-color: #e4e5e9;
  position: relative;
}

.form-wrap .email-form .form .grid .check-box .check input,
.form-wrap .email-form .form .grid .check-box .check i {
  position: absolute;
  top: 0;
  left: 0;
}

.form-wrap .email-form .form .grid .check-box .check input {
  background: transparent;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.form-wrap .email-form .form .grid .check-box .check i {
  font-size: 2rem;
  width: 100%;
  height: 100%;
  color: transparent;
  pointer-events: none;
}

.form-wrap .email-form .form .grid .check-box .check input:checked+i {
  color: #000;
}

.form-wrap .email-form .form .grid .check-box p {
  font-size: 1.8rem;
  font-weight: 300;
  line-height: 1.67;
  letter-spacing: -0.72px;
  color: #000;
}

.form-wrap .email-form .form .grid .toggle-box {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  padding: 14px 16px;
  border-radius: 8px;
  background-color: #f4f5f9;
}

.form-wrap .email-form .form .grid .toggle-box p {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.6;
  color: #555;
}

.form-wrap .email-form .form button {
  margin-top: 40px;
  border-radius: 8px;
  background-color: #000;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1.5;
  letter-spacing: -0.8px;
  color: #fff;
  display: block;
  height: 58px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.float-btns {
  position: fixed;
  right: 200px;
  bottom: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 20px;
  opacity: 0;
  z-index: 999;
  will-change: transform, opacity;
  transition: .3s;
}

.float-btns.active {
  bottom: 700px;
}

.float-btns::after {
  display: none;
}

.float-btns li {
  width: 80px;
  height: 80px;
  border-radius: 100%;
  border: solid 1px;
  border-color: #fff;
  position: relative;
  cursor: pointer;
}

.float-btns li svg {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  opacity: 0;
}

.float-btns li.modal-btn {
  background-color: #fff;
}

.float-btns li.modal-btn svg path {
  fill: #000;
}

.float-btns li.top-btn svg {
  opacity: 1;
}

.float-btns li.top-btn svg path {
  stroke: #fff;
}

@media (max-width: 1600px) {
  .lighting-wrap .inner {

    width: calc(100% - 80px);

  }

  .form-wrap {
    padding-right: 0;
    padding-left: 0;
  }

  .main-visual .visual .tit {
    left: 5vw;
    bottom: 20vh;
  }

  .main-visual .visual .ico {
    width: 90px;
    right: 5vw;
  }

  .lighting-header {
    padding: 30px 80px;
  }

  .scroll-img-txt ul {
    justify-content: flex-start;
    gap: 80px
  }

  .scroll-img-txt ul li:nth-child(2),
  .scroll-img-txt ul li:nth-child(3) {
    padding-top: 200px;
  }

  .scroll-img-txt ul li:nth-child(3) {
    margin-left: auto;
  }

  .scroll-img-txt ul li:nth-child(5) {
    padding-top: 100px;
  }
}

@media (max-width: 1400px) {
  .scroll-img-txt ul .common-txt.min {
    width: 500px;
  }

  .scroll-img-txt ul li:nth-child(4) {
    width: 490px;
  }

  .mt-300 {
    margin-top: 150px;
  }

  .img-slider .arws {
    grid-template-columns: repeat(29, 1fr);
  }

  .img-slider .arws li.next {
    grid-column: 20/29;
  }

  .grid-center {
    gap: 70px;
  }

  .grid-center .left {
    width: 500px;
  }

  .float-btns {
    right: 100px
  }

  .float-btns.active {
    bottom: 600px;
  }
  .float-btns.active {
    bottom: 600px;
    right: 50px;
}
}

@media (max-width: 1200px) {
  
  .grid-img {
    grid-template-columns: 1fr;
  }
  .grid-img article .img img {
    border-radius: 42px;}
  .grid-img article:nth-child(2),
  .grid-img article:nth-child(4) {
    top: 0;
  }

  .img-slider .swiper-slide {
    width: 700px;
  }

  .img-slider .arws {
    grid-template-columns: repeat(4, 1fr);


  }

  .img-slider .arws li.prev {
    grid-column: 1/2;
  }

  .img-slider .arws li.next {
    grid-column: 4/5;
  }

  .main-visual .visual .tit p {
    font-size: 9rem;
  }

  .scroll-wide .img {
    padding-bottom: 50%;
  }

  .scroll-wide .img img,
  .scroll-wide .img video {
    width: auto;
    height: 100%;
  }
}

@media (max-width: 1000px) {
  .img-slider .swiper-slide {
    width: 80vw;
  }

  /* .img-slider .arws {
    grid-template-columns: repeat(10, 1fr);
  } */

  .img-slider .arws li.next {
    grid-column: 10/11;
  }

  .img-slider .arws {
    display: none;
  }

  .main-visual .visual .tit p {
    font-size: 8rem;
  }

  .scroll-horizon {
    margin-left: 50px;
  }

}

@media (max-width: 768px) {
  html {
    font-size: 41.5%;
  }

  .lighting-header h1 {
    position: initial;
    transform: none;
  }

  .lighting-header {
    padding: 10px 20px;
  }

  .lighting-header h1 svg,
  .lighting-header h1 img {
    width: 85px;
  }

  .lighting-header nav .lang {
    margin-right: 0;
  }


  .main-visual .visual .tit {
    left: 20px;
    bottom: 170px;
  }

  .main-visual .visual .tit p {
    font-size: 6.4rem;
  }

  .main-visual .visual .tit p:last-child {
    margin-left: 34px;
  }

  .main-visual .visual .ico {
    width: 50px;
    right: 20px;
    bottom: 50px;
  }

  .main-visual .txt ul li {
    padding: 12px 0;
    font-size: 5rem;
  }

  .lighting-wrap .inner {
    width: calc(100% - 40px);
  }

  .float-btns {
    right: 20px;
    bottom: 20px;
    gap: 10px;
  }

  .float-btns li {
    width: 50px;
    height: 50px;
  }

  .float-btns li svg {
    width: 26px;
  }

  .scroll-img-txt {
    margin-top: 0;
  }

  .scroll-img-txt ul li:nth-child(2),
  .scroll-img-txt ul li:nth-child(4),
  .scroll-img-txt ul li:nth-child(5),
  .scroll-img-txt ul li:nth-child(6) {
    padding-top: 100px;
  }

  .scroll-img-txt ul li:nth-child(3) {
    width: 220px;
    padding-top: 60px;
  }

  .scroll-img-txt ul {
    gap: 0;
  }

  .lighting-wrap .common-txt {
    padding-top: 12px;
  }

  .lighting-wrap .common-txt p {
    font-size: 2.1rem;
  }

  .lighting-wrap .common-txt p br {
    display: none;
  }

  .lighting-wrap .common-txt h3 {
    font-size: 4.5rem;
  }

  .scroll-horizon {
    margin-left: 20px;
  }

  .scroll-horizon .img img {
    height: 248px;
  }

  .lighting-wrap .common-txt.min {
    width: 335px;
  }

  .grid-center {
    flex-direction: column;
  }

  .mt-300 {
    margin-top: 100px;
  }

  .main-visual .txt h2 img {
    height: 10px;
  }

  .scroll-horizon {
    margin-left: 20px;
  }

  .scroll-wide .common-txt {
    margin-top: 40px;
  }

  .grid-img {
    display: flex;
    flex-direction: column;
    gap: 20px
  }

  .grid-img article .grid .top li {
    width: 75px;
    height: 28px;
  }

  .grid-img article .grid-3 .top,
  .grid-img article .grid-3 .btm,
  .grid-img article .grid-3 .img {
    column-gap: 8px;
    margin-right: 0;
    margin-left: 0;
  }

  .grid-img article .grid .top li,
  .grid-img article .grid .btm li b,
  .grid-img article .grid .btm li p,
  .grid-img article .txt p {
    font-size: 2.1rem;
  }

  .grid-img article .txt h4 {
    margin-bottom: 10px;
  }

  .grid-img article .txt h4 {
    font-size: 2.7rem;
  }

  .img-slider .swiper-slide {
    width: 69.333%;
    margin: 0 2.15%;
  }

  .form-wrap .email-form .tit p {
    margin-top: 20px;

  }

  .form-wrap .email-form .tit p,
  .form-wrap .email-form .form .input label,
  .form-wrap .email-form .form .grid .check-box p {
    font-size: 2.1rem;
  }

  .form-wrap .email-form .form .grid .toggle-box p {
    font-size: 2rem;
  }

  .form-wrap .email-form .form .input input,
  .form-wrap .email-form .form .input input::placeholder {
    font-size: 2.4rem;
  }

  .form-wrap .email-form .form .input {
    margin-top: 24px;
    padding-top: 24px;
  }

  .form-wrap .email-form .form .grid {
    margin-top: 22px;
  }

  .form-wrap .email-form .tit svg {
    margin-bottom: 10px;
  }

  .form-wrap .email-form .form button {
    margin-top: 30px;
    font-size: 2.4rem;
  }

  .form-wrap .email-form .form .grid .check-box .check i {
    font-size: 2.8rem;
  }

  .float-btns.active {
    bottom: 300px;
  }


  .form-wrap {
    padding: 0 0 150px;
  }
}